// sidebar
$menuText:#bfcbd9;
$menuActiveText:#f4f4f5;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#fc4343;
$menuHover:#FFB6C1;

$subMenuBg:#FF4500;
$subMenuHover:#2eeed4;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuColor: $menuText;
  menuLightColor: $menuActiveText;
  menuText: $menuText;
  menuActiveText: $menuActiveText;

  menuBackground: $menuBg;
  menuLightBackground: #000000;

  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
